* {
    box-sizing: border-box;
}

body {
    max-width: 750px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clear {
    clear: both;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(42,79,110);
    padding: 2rem;
}

ul {
    list-style-type: none;
}

li {
    width: fit-content;
}

li:hover {
    text-decoration-line: underline;
}

a {
    text-decoration: none;
    color: white;
}

.firstcolumn, .secondcolumn, .social {
    width: 33%;
    float: left;
    padding-left: 5%;
}

.social {
    text-align: center;
    padding: 0;
}

.social > a > div {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 1.6rem 1rem;
    background-size: 40px;
}

.facebook {
    background-image: url(icons/fb_gray.png);
}

.facebook:hover {
    background-image: url(icons/fb.png);
}

.instagram {
    background-image: url(icons/insta_gray.png);  
}

.instagram:hover {
    background-image: url(icons/insta.png);
}

.youtube {
    background-image: url(icons/youtube_gray.png);
}

.youtube:hover {
    background-image: url(icons/youtube.png);
}

.copyright {
    text-align: center;
    font-size: 0.6rem;
    padding-top: 1.5rem;
    color: white;
}