* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    min-width: 800px;
}

.clear {
    clear: both;
}

header, menu, aside, main, section, footer {
    padding: 1.5rem;
    padding-left: 3rem;
    margin: 0.5rem;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
/* Начало блока цветов бэкграунда */
header {
    background-color: rgb(146,49,88);
}

menu, footer {
    background-color: rgb(110,18,55);
}

aside, main {
    background-color: rgb(182,91,128);
}

section {
    background-color: rgb(219,146,175);
}
/* Конец блока цветов бэкграунда */

header {
    padding: 2rem 3rem;
}

.leftside {
    width: calc(20% - 1rem);
    float: left;
}

.side2 {
    height: 10rem;
    margin-top: 1rem;
}

main {
    width: 70%;
    float: left;
}

section {
    height: 8rem;
    margin: 0.5rem 0;
}

.side3 {
    width: calc(10% - 1rem);
    float: left;
    padding: 2rem 0;
}

.crutch {
    margin: 0 auto;
    width: fit-content;
}