@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html ::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'K2D', sans-serif;
    background-color: #2D3436;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    > div {
        width: 33%;
        padding: 1rem 0;
        border: 1px solid white;
        font-size: 3rem;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.view_panel {

    .commands {

        > div {
            display: none;
            justify-content: center;
            align-items: stretch;

            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                border: 1px solid white;
                transition: background-color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
    
                .desc {
                    padding: 0.5rem 0 ;
                    font-size: 1.5rem;
                    border-bottom: 1px solid white;
                }
    
                div {
                    transition: background-color 0.3s;
                    cursor: pointer;
    
                    &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }

        > div.flex {
            display: flex;
        }

        .show_time {
            font-size: 1.5rem;
        }

        .task1_commands > div {
            width: 49.5%;

            &.show_info {
                padding: 0.5rem 0 ;
                font-size: 1.5rem;
                border-bottom: 1px solid white;
            }
        }

        .task2_commands > div {
            width: 19.8%;

            &.show_fraction {                
               flex-direction: row;
               justify-content: space-around;

               .numer {
                    border-bottom: 1px solid white;
                    padding: 0 0.5rem;
                }
            }
        }

        .task3_commands > div {
            width: 24.75%; 

            > div {
                display: flex;
                justify-content: space-evenly;

                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 33%;
                    height: 100%;
                }
            }
        }
    }

    .output {
        display: flex;
        justify-content: center;
        font-size: 6rem;
    }
}



input {
    font-family: inherit;
    margin: 0.5rem;
    border-radius: 5px;
}

.task2_commands input {
    width: 1.5rem;
    text-align: center;
}

.fraction {
    display: none;
    gap: 1rem;
    text-align: center;
    align-items: center;

    &.flex {
        display: flex;
    }

    > div {
        display: flex;
        flex-direction: column;
        

        div:first-child {
            border-bottom: 1px solid white;
            padding-bottom: 1rem;
        }
    }
}

.task3_commands input {
    width: 4rem;
    margin: 0.8rem 0;
    text-align: center;
}

.hw_condition {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    }
}

embed {
    position: absolute;
    display: none;
    top: 0;
    width: 45vw;
    height: 90vh;
    margin: 0;
    z-index: 1000;
}

.hide_embed {
    display: block;
}