@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    font-family: 'K2D', sans-serif;
    background-color: #2D3436;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    > div {
        width: 33%;
        border: 1px solid white;
        font-size: 3rem;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.view_panel {

    .commands {

        > div {
            display: none;
            justify-content: center;
            align-items: stretch;

            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                border: 1px solid white;
                transition: background-color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
    
                .desc {
                    padding: 0.5rem 0 ;
                    font-size: 1.5rem;
                    border-bottom: 1px solid white;
                }
    
                div {
                    transition: background-color 0.3s;
                    cursor: pointer;
    
                    &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }

        > div.flex {
            display: flex;
        }

        .show_time {
            font-size: 1.5rem;
        }

        .task1_commands > div {
            width: 49.55%;

            &.show_info {
                padding: 0.5rem 0 ;
                font-size: 1.5rem;
                border-bottom: 1px solid white;
            }
        }

        .task2_commands > div {
            width: 19.7%;

            &.show_fraction {                
               flex-direction: row;
               justify-content: space-around;

               .numer {
                border-bottom: 1px solid white;
               }
            }
        }

        .task3_commands > div {
            width: 24.7%; 
        }
    }

    .output {
        display: flex;
        justify-content: center;
        font-size: 6rem;
    }
}



input {
    font-family: inherit;
    margin: 0.5rem;
    border-radius: 5px;
}

.task2_commands input {
    width: 1.5rem;
}

