footer .right form .title, footer .right .follow__title, footer .left .info__title, footer .left .link__title {
  margin: 1rem 0;
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 0.9rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #ADADAD;
}

footer {
  display: flex;
  gap: 1.5rem;
  margin-top: 5rem;
}
footer > section {
  width: calc(50% - 1.5rem);
}
footer .left .link__icons {
  display: flex;
  gap: 2rem;
  margin: 1rem 0 2.25rem;
}
footer .left .link__icons .logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background-color 0.5s;
}
footer .left .link__icons .logo.facebook {
  background-image: url(../icons/facebook.svg);
}
footer .left .link__icons .logo.linkedin {
  background-image: url(../icons/linkedin.svg);
}
footer .left .link__icons .logo.slack {
  background-image: url(../icons/slack.svg);
}
footer .left .link__icons .logo.twitter {
  background-image: url(../icons/twitter.svg);
}
footer .left .link__icons .logo:hover {
  background-color: #ffeaa7;
}
footer .left .info .flex-container {
  display: flex;
  flex-wrap: wrap;
}
footer .left .info .flex-container a {
  width: 33%;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}
footer .right .follow__title {
  margin-bottom: 0;
}
footer .right .follow__link {
  margin: 0 0 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: #6C5CE7;
}
footer .right form .form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
}
footer .right form .form input {
  width: calc(50% - 1.75rem);
  font-size: 1.125rem;
  line-height: 2rem;
}
footer .right form .form input::-moz-placeholder {
  font-size: 1.125rem;
  line-height: 2rem;
  color: black;
}
footer .right form .form input:-ms-input-placeholder {
  font-size: 1.125rem;
  line-height: 2rem;
  color: black;
}
footer .right form .form input::placeholder {
  font-size: 1.125rem;
  line-height: 2rem;
  color: black;
}
footer .right form .form textarea {
  width: calc(70% - 1.75rem);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #6C5CE7;
  resize: none;
}
footer .right form .form textarea::-moz-placeholder {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}
footer .right form .form textarea:-ms-input-placeholder {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}
footer .right form .form textarea::placeholder {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}
footer .right form .form input, footer .right form .form textarea {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #f1f1f1;
}
footer .right form button {
  width: calc(30% - 1.75rem);
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.25px;
  border-radius: 10px;
  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
  background-color: #6C5CE7;
  color: white;
  transition: transform 0.3s, background-color 0.3s;
}
footer .right form button:hover {
  transform: scale(1.1);
  background-color: #8e82e4;
}/*# sourceMappingURL=footer.css.map */