// HOW IT WORKS       SECTION
.hiw {
    margin-top: 7rem;
    img {
    position: absolute;
    top: 6rem;
    right: 0;
    z-index: -2;
    }

    .img__rect {
        width: 50%;
    }

    .img__dots {
        top: 6.4rem;
        width: 15%;
    }

    .title {
        margin: 4rem 0;
        text-align: center;

        h1 {
            font-weight: 800;
            font-size: 6rem;
            line-height: 6.5rem;
            letter-spacing: -3px;
        
            span {
                position: relative;
                color: #D63031;
                text-shadow: 0px 4px 0px #FFFFFF;

                &::after {
                    content: '';
                    position: absolute;
                    top: 60%;
                    left: 0;
                    width: 100%;
                    height: 3rem;
                    border-radius: 50px;
                    background-color: #55EFC4;
                    z-index: -1;
                }
            }
        }
        
        h2 {
            margin-top: 1rem;
            font-weight: 900;
            font-size: 4rem;
            line-height: 4.8rem;
            letter-spacing: -1px;
        }
    }

    .grid {
        display: grid; 
        grid-template-columns: 0.5fr 1.5fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 2rem; 
        grid-template-areas: 
                            "left-column up up"
                            "left-column down down"; 
        min-width: 1180px;
        width: 1600px;
        margin: 0 auto;

        > div > div{
            border-radius: 20px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .left-column { 
            grid-area: left-column;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__title {
                font-size: 1.125rem;
                line-height: 2rem;
                color: #2D3436;
            }

            &__pic {
                background-image: url(../images/sphere.png);
                min-height: 464px;
                padding: 1rem;

                .pic__title {
                    font-weight: 700;
                    font-size: 1.125rem;
                    line-height: 2rem;
                    letter-spacing: 0.2px;
                    text-align: center;
                    color: white;
                }

                .pic__subtitle {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                    letter-spacing: 0.25px;
                    text-align: center;
                    color: white;
                }
            }

            &__button {
                margin-top: 0.9rem;
                a {
                    display: block;
                    text-align: center;
                    padding: 0.5rem 1rem;
                    border-radius: 30px;
                    background-color: #6C5CE7;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 3rem;
                    letter-spacing: -0.5px;
                    color: white;
                }
            }
        }
        .up { 
            grid-area: up; 
            display: inline-flex;
            gap: 2rem;

            .large-pic {
                display: flex;
                justify-content: center;
                background-image: url(../images/larpic.jpg);
                width: 470px;
                height: 380px;
                padding: 0.5rem;

                &__title {
                    align-self: flex-end;
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 3.5rem;
                    text-align: center;
                    letter-spacing: -1px;
                    text-shadow: 0px 4px 0px #000000;
                    color: white;
                }
            }

            .desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 2rem;

                &__title {
                    width: calc(340px + 2rem);
                    align-self: flex-end;
                    font-size: 1.125rem;
                    line-height: 2rem;
                    color: #2D3436;
                }
                &__images {
                    display: flex;
                    gap: 2rem;
                    align-items: flex-end;
                    > div {
                        width: 170px;
                        height: 222px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .image-1 {
                        background-image: url(../images/Letter\ A.png);
                    }

                    .image-2 {
                        background-image: url(../images/Shoe.png);
                    }
                }
            }
        }
        .down { 
            grid-area: down; 
            display: inline-flex;
            gap: 2rem;

            > div {
                background-repeat: no-repeat;
                background-size: cover;
            }

            .image-1 {
                width: 270px;
                height: 284px;
                background-image: url(../images/book.png);
            }

            .image-2 {
                width: 370px;
                height: 356px;
                background-image: url(../images/goal.png);
                &__title {
                    margin-top: 1rem;
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 3.5rem;
                    text-align: center;
                    letter-spacing: -1px;
                    text-shadow: 0px 4px 0px #000000;
                    color: white;
                }
            }

            .image-3 {
                width: 170px;
                height: 222px;
                background-image: url(../images/shelf.png);
            }
        }
    }

    
}

//WHO WE ARE          SECTION
.wwa {
    margin: 5rem 0;

    .desc {
        &__title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: -0.5px;
        }

        &__subtitle {
            margin: 1rem 0 2.5rem 0;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: -0.25px;
        }
    }

    .benefits {
        display: flex;
        gap: 1.875rem;

        .card {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            
            &__logo {
                width: 4rem;
                height: 4rem;
                background-repeat: no-repeat;
                background-size: 3.5rem 3.5rem;
                background-position: center 0.5rem;
                border-radius: 50%;
            }

            &__title {
                margin: 1.5rem 0 1rem 0;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 2rem;
                letter-spacing: 0.25px;
            }

            &__desc {
                margin: 1rem 0 0.5rem 0;
                font-size: 1.125rem;
                line-height: 2rem;
            }

            &__button {
                display: flex;
                margin-top: auto;
                a {
                    padding: 0.5rem 1rem;
                    border: 1px solid #adadad;
                    border-radius: 15px;
                    font-weight: 700;
                    font-size: 1.125rem;
                    line-height: 2rem;
                    letter-spacing: 0.2px;
                    color: #6C5CE7;
                }
            }
        }

        .support {
            .card__logo {
                background-color: #e0408f;
                background-image: url(../icons/phone.svg);
            }
        }

        .sales {
            .card__logo {
                background-color: #0981de;
                background-image: url(../icons/sales.svg);
            }
        }

        .coponents {
            .card__logo {
                background-color: #6c5ce7;
                background-image: url(../icons/zap.svg);
            }
        }

        .swap {
            .card__logo {
                background-color: #00b18f;
                background-image: url(../icons/like.svg);
            }
        }
    }
}

//WHAT WE DO          SECTION
.wwd {
    .title {
        text-align: center;
        margin-top: 4.5rem;   
        font-weight: 900;
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: -1px;
    }

    .subtitle {
        text-align: center;
        margin-top: 1.875rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: -0.5px;
        color: #ADADAD;

        span {
            color: #6C5CE7;
        }
    }

    .tariffs {
        display: flex;
                

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin: 0 auto;
            padding: 1.5rem;
            border-radius: 10px;
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow:0px 8px 8px rgba(38, 50, 56, 0.08);
                .card__button a::after{
                    opacity: 1;
                }
            }

            &__prefix {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 2rem;
                letter-spacing: 0.2px;
                color: #6C5CE7;
            }

            &__price {
                margin: 1rem 0 1.5rem;
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.5rem;
                letter-spacing: -1px;

                span {
                    font-weight: 800;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    letter-spacing: 2.5px;
                    text-transform: uppercase;
                }
            }

            &__benefits {
                li {
                    position: relative;
                    margin: 1rem 0 1rem 2.5rem;
                    font-size: 1.125rem;
                    line-height: 2rem;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -2.5rem;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-image: url(../icons/check.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        backdrop-filter: blur(1.5rem);
                    }
                }  
            }

            &.free {
                li::before {
                    background-color: #e2e2e2;
                }
            }
    
            &.high {
                li::before {
                    background-color: #fdcb6e;
                }
            }
    
            &.medium {
                li::before {
                    background-color: #aef8e3;
                }
            }

            &__button {
                display: flex;
                margin-top: auto;
                a {
                    position: relative;
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border: 1px solid #ADADAD;
                    border-radius: 10px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1.125rem;
                    line-height: 2rem;
                    letter-spacing: 0.2px;
                    color: #6C5CE7; 
                    transition: font-size 0.3s, background-color 0.3s, color 0.3s;

                    &:hover {
                        font-size: 1.5rem;
                        background-color: #6C5CE7;
                        color: white;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -1rem;
                        left: -1rem;
                        width: 10rem;
                        height: 2rem;
                        background-image: url(../icons/wiggle.svg);
                        opacity: 0;
                        transition: opacity 0.5s;
                        z-index: -1;
                    }
                }
            }
        }
    }
}
