.hiw {
  margin-top: 7rem;
}
.hiw img {
  position: absolute;
  top: 6rem;
  right: 0;
  z-index: -2;
}
.hiw .img__rect {
  width: 50%;
}
.hiw .img__dots {
  top: 6.4rem;
  width: 15%;
}
.hiw .title {
  margin: 4rem 0;
  text-align: center;
}
.hiw .title h1 {
  font-weight: 800;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -3px;
}
.hiw .title h1 span {
  position: relative;
  color: #D63031;
  text-shadow: 0px 4px 0px #FFFFFF;
}
.hiw .title h1 span::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 3rem;
  border-radius: 50px;
  background-color: #55EFC4;
  z-index: -1;
}
.hiw .title h2 {
  margin-top: 1rem;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1px;
}
.hiw .grid {
  display: grid;
  grid-template-columns: 0.18fr 0.82fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  grid-template-areas: "left-column up" "left-column down";
  width: 1180px;
  margin: 0 auto;
}
.hiw .grid > div > div {
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hiw .grid .left-column {
  grid-area: left-column;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hiw .grid .left-column__title {
  font-size: 1.125rem;
  line-height: 2rem;
  color: #2D3436;
}
.hiw .grid .left-column__pic {
  background-image: url(../images/sphere.png);
  min-height: 464px;
  padding: 1rem;
}
.hiw .grid .left-column__pic .pic__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  text-align: center;
  color: white;
}
.hiw .grid .left-column__pic .pic__subtitle {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
  text-align: center;
  color: white;
}
.hiw .grid .left-column__button {
  margin-top: 0.9rem;
}
.hiw .grid .left-column__button a {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #6C5CE7;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: white;
}
.hiw .grid .up {
  grid-area: up;
  display: inline-flex;
  gap: 2rem;
}
.hiw .grid .up .large-pic {
  display: flex;
  justify-content: center;
  background-image: url(../images/larpic.jpg);
  width: 470px;
  height: 380px;
  padding: 0.5rem;
}
.hiw .grid .up .large-pic__title {
  align-self: flex-end;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0px #000000;
  color: white;
}
.hiw .grid .up .desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
.hiw .grid .up .desc__title {
  width: calc(340px + 2rem);
  align-self: flex-end;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #2D3436;
}
.hiw .grid .up .desc__images {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}
.hiw .grid .up .desc__images > div {
  width: 170px;
  height: 222px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hiw .grid .up .desc__images .image-1 {
  background-image: url(../images/Letter\ A.png);
}
.hiw .grid .up .desc__images .image-2 {
  background-image: url(../images/Shoe.png);
}
.hiw .grid .down {
  grid-area: down;
  display: inline-flex;
  gap: 2rem;
}
.hiw .grid .down > div {
  background-repeat: no-repeat;
  background-size: cover;
}
.hiw .grid .down .image-1 {
  width: 270px;
  height: 284px;
  background-image: url(../images/book.png);
}
.hiw .grid .down .image-2 {
  width: 370px;
  height: 356px;
  background-image: url(../images/goal.png);
}
.hiw .grid .down .image-2__title {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0px #000000;
  color: white;
}
.hiw .grid .down .image-3 {
  width: 170px;
  height: 222px;
  background-image: url(../images/shelf.png);
}

.wwa {
  margin: 5rem 0;
}
.wwa .desc__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
}
.wwa .desc__subtitle {
  margin: 1rem 0 2.5rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.25px;
}
.wwa .benefits {
  display: flex;
  gap: 1.875rem;
}
.wwa .benefits .card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.wwa .benefits .card__logo {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: 3.5rem 3.5rem;
  background-position: center 0.5rem;
  border-radius: 50%;
}
.wwa .benefits .card__title {
  margin: 1.5rem 0 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.25px;
}
.wwa .benefits .card__desc {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.125rem;
  line-height: 2rem;
}
.wwa .benefits .card__button {
  display: flex;
  margin-top: auto;
}
.wwa .benefits .card__button a {
  padding: 0.5rem 1rem;
  border: 1px solid #adadad;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}
.wwa .benefits .support .card__logo {
  background-color: #e0408f;
  background-image: url(../icons/phone.svg);
}
.wwa .benefits .sales .card__logo {
  background-color: #0981de;
  background-image: url(../icons/sales.svg);
}
.wwa .benefits .coponents .card__logo {
  background-color: #6c5ce7;
  background-image: url(../icons/zap.svg);
}
.wwa .benefits .swap .card__logo {
  background-color: #00b18f;
  background-image: url(../icons/like.svg);
}

.wwd .title {
  text-align: center;
  margin-top: 4.5rem;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1px;
}
.wwd .subtitle {
  text-align: center;
  margin-top: 1.875rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: #ADADAD;
}
.wwd .subtitle span {
  color: #6C5CE7;
}
.wwd .tariffs {
  display: flex;
}
.wwd .tariffs .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 10px;
  transition: box-shadow 0.5s;
}
.wwd .tariffs .card:hover {
  box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.08);
}
.wwd .tariffs .card:hover .card__button a::after {
  opacity: 1;
}
.wwd .tariffs .card__prefix {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}
.wwd .tariffs .card__price {
  margin: 1rem 0 1.5rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -1px;
}
.wwd .tariffs .card__price span {
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.wwd .tariffs .card__benefits li {
  position: relative;
  margin: 1rem 0 1rem 2.5rem;
  font-size: 1.125rem;
  line-height: 2rem;
}
.wwd .tariffs .card__benefits li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: url(../icons/check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
.wwd .tariffs .card.free li::before {
  background-color: #e2e2e2;
}
.wwd .tariffs .card.high li::before {
  background-color: #fdcb6e;
}
.wwd .tariffs .card.medium li::before {
  background-color: #aef8e3;
}
.wwd .tariffs .card__button {
  display: flex;
  margin-top: auto;
}
.wwd .tariffs .card__button a {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ADADAD;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #6C5CE7;
  transition: font-size 0.3s, background-color 0.3s, color 0.3s;
}
.wwd .tariffs .card__button a:hover {
  font-size: 1.5rem;
  background-color: #6C5CE7;
  color: white;
}
.wwd .tariffs .card__button a::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  width: 10rem;
  height: 2rem;
  background-image: url(../icons/wiggle.svg);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
}/*# sourceMappingURL=main.css.map */