body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    max-width: 810px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.mathform {
    display: table;
    margin: 0 auto;
    background-color: rgba(243, 146, 146, 0.822);
    padding: 2px 8px;

    font-size: 20px;
    font-weight: 600;
}

span {
    color: rgb(136, 2, 2);
    font-weight: 700;
    font-style: italic;
}

#capsymbol {
    font-style: normal;
    font-weight: normal;
    font-family: none;
}