* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(245,245,245);
    min-width: 540px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.grid-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 0.8rem;
}

.anie-grid {
    display: grid;
    grid-template-areas: 
                        'name photo'
                        'time photo';
    justify-content: end;
    justify-items: end;
}

.jack-grid {
    display: grid;
    grid-template-areas: 
                        'photo name'
                        'photo time';
    justify-content: start;
    justify-items: start;
}

.name {
    grid-area: name;
    align-self: end;
}

.time {
    grid-area: time;
    font-size: 0.7rem;
    color: #8f8f8f8f;
}

.photo {
    grid-area: photo;
    align-self: center;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.anie-photo {
    background-image: url(icons/avatar_2.png);
}

.jack-photo {
    background-image: url(icons/avatar_1.png);
}

.message {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1.2rem;
}

.anie-msg {
    background-color: rgb(255,182,193);
    border-bottom-left-radius: 0;
}

.jack-msg {
    background-color: rgb(172,215,229);
    border-bottom-right-radius: 0;
}