* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.flex-container {
    height: 100vh;
    padding: 5rem;
    background-color: rgb(15, 83, 83);
    color: white;
}

header, div span:first-child {
    color: gray;
}

h1 {
    margin-top: 0.5rem;
    font-size: 3.5rem;
}

footer {
    display: flex;
    gap: 2rem;
}

.foot-flex {
    display: flex;
    gap: 0.5rem 2rem;
}

div {
    margin: auto 0;
}

.break {
    display: none;
}

img {
    width: 4rem;
}

@media (max-width: 600px) {
    html {
        font-size: 0.75rem;
    }

    .flex-container {
        padding: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .foot-flex {
        height: 80px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .updated {
        order: 1;
    }

    .author {
        order: 3;
    }

    .comments {
        order: 2;
    }

    .published {
        order: 4;
    }
}