* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(173,216,230);
}

.flex-wrap {
    display: flex;
}

.flex > div {
    width: 94%;
    margin: 3%;
}

.flex > div > div {
    padding: 1rem;
}

h3, p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.column {
    background-color: rgb(195,195,195);
}

.text {
    background-color: rgb(245,245,245);
}

 .first_1, .second_3, .third_3 {
    height: 150px;
    line-height: calc(150px - 32px);
}

.first_3, .second_1, .third_3{
    height: 100px;
    line-height: calc(100px - 32px);
}

.first_2 {
    height: 220px;
    line-height: calc(220px - 32px);
}

.second_2 {
    height: 230px;
    line-height: calc(230px - 32px);
}

.third_2 {
    height: 350px;
    line-height: calc(350px - 32px);
}

.flex > div > div:first-child {
    text-align: center;
    white-space: pre;
    font-size: 2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
}