<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/global.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav__logo">
            <div class="nav__logo_img"></div>
            <div class="nav__logo_text">Grid</div>
        </div>
        <div class="nav__menu">
            <ul>
                <li><a href="">How it works</a></li>
                <li class="dot"></li>
                <li><a href="">Who we are</a></li>
                <li class="dot"></li>
                <li><a href="">What we do</a></li>
                <li class="dot"></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
        <div class="nav__button">
            <button>Sign In</button>
        </div>
    </nav>
    <main>
        <section class="hiw">
            <img src="images/Rectangle.png" alt="" class="img__rect">
            <img src="images/🎨 Dots 1.png" alt="" class="img__dots">
            <div class="title">
                <h1>Combine <span>fine</span> images</h1>
                <h2>To represent a product</h2>
            </div>
            <div class="grid">
                <div class="left-column">
                    <div class="left-column__title">Use mixed grid with imagery, replace with your own photos and descriptions</div>
                    <div class="left-column__pic">
                        <div class="pic__title">We aimed to deliver HQ templates for Figma</div>
                        <div class="pic__subtitle">Used by 123 people</div>
                    </div>
                    <div class="left-column__button">
                        <a href="">Learn more</a>
                    </div>
                </div>
                <div class="up">
                    <div class="large-pic">
                        <div class="large-pic__title">Consider it done!</div>
                    </div>
                    <div class="desc">
                        <div class="desc__title">This is multipurpose grid, it fits for portfolio, services or agency web site</div>
                        <div class="desc__images">
                            <div class="image-1"></div>
                            <div class="image-2"></div>
                        </div>
                    </div>
                </div>
                <div class="down">
                    <div class="image-1"></div>
                    <div class="image-2">
                        <div class="image-2__title">See my goal?</div>
                    </div>
                    <div class="image-3"></div>
                </div>
            </div>
        </section>
        <section class="wwa">
            <div class="desc">
                <div class="desc__title">Delivering good designs since 1954 🚚💨</div>
                <div class="desc__subtitle">We’re the first multi-purpose design kit solutions for businesses. We help you bridge
                    gaps between your layouts, templates and developers to empower all involved.</div>
            </div>
            <div class="benefits">
                <div class="support card">
                    <div class="card__logo"></div>
                    <div class="card__title">Support</div>
                    <div class="card__desc">Delivering faster and more personalized support with shared screens and cool design systems for Figma</div>
                    <div class="card__button"><a href="">Learn more</a></div>
                </div>
                <div class="sales card">
                    <div class="card__logo"></div>
                    <div class="card__title">Sales growth</div>
                    <div class="card__desc">Identify qualified customers with easy-to-use live chat messaging and AI-based Sales Bot</div>
                    <div class="card__button"><a href="">Learn more</a></div>
                </div>
                <div class="coponents card">
                    <div class="card__logo"></div>
                    <div class="card__title">Coponents-driven</div>
                    <div class="card__desc">Delivering faster and more personalized support with shared screens and cool design systems for Figma</div>
                    <div class="card__button"><a href="">Learn more</a></div>
                </div>
                <div class="swap card">
                    <div class="card__logo"></div>
                    <div class="card__title">Swap the icon</div>
                    <div class="card__desc">You can toggle to any icon within Instances and customize outlined stroke to more bolder or lighter</div>
                    <div class="card__button"><a href="">Learn more</a></div>
                </div>
            </div>
        </section>
        <section class="wwd">
            <div class="title">Affordable pricing</div>
            <div class="subtitle">Bill me <span>monthly</span> • yearly</div>
            <div class="tariffs">
                <div class="free card">
                    <div class="card__prefix">Like a pussy</div>
                    <div class="card__price">Free <span>/ forever</span></div>
                    <div class="card__benefits">
                        <ul>
                            <li>Components-driven system</li>
                            <li>Sales-boosting landing pages</li>
                            <li>Awesome Feather icons pack</li>
                        </ul>
                    </div>
                    <div class="card__button"><a href="">Try for free</a></div>
                </div>
                <div class="high card">
                    <div class="card__prefix">👤 Individual</div>
                    <div class="card__price">$24 <span>/ month</span></div>
                    <div class="card__benefits">
                        <ul>
                            <li>Components-driven system</li>
                            <li>Sales-boosting landing pages</li>
                            <li>Awesome Feather icons pack</li>
                            <li>Themed into 3 different styles</li>
                            <li>Will help to learn Figma</li>
                        </ul>
                    </div>
                    <div class="card__button"><a href="">Regular license</a></div>
                </div>
                <div class="medium card">
                    <div class="card__prefix">👥 Corporate</div>
                    <div class="card__price">$12 <span>/ editor</span></div>
                    <div class="card__benefits">
                        <ul>
                            <li>Components-driven system</li>
                            <li>Sales-boosting landing pages</li>
                            <li>Awesome Feather icons pack</li>
                            <li>Themed into 3 different styles</li>
                        </ul>
                    </div>
                    <div class="card__button"><a href="">Extended license</a></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="left">
            <div class="link">
                <div class="link__title">follow us</div>
                <div class="link__icons">
                    <a href ="" class="facebook logo"></a>
                    <a href="" class="linkedin logo"></a>
                    <a href="" class="slack logo"></a>
                    <a href="" class="twitter logo"></a>
                </div>
            </div>
            <div class="info">
                <div class="info__title">information</div>
                <div class="flex-container">
                    <a href="">About Fapster app</a>
                    <a href="">Get in Touch</a>
                    <a href="">Things We Like</a>
                    <a href="">Onhovered / Active</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of Service</a>
                    <a href="">We are hiring!</a>
                    <a href="">Resources</a>
                </div>
            </div>
        </section>
        <section class="right">
            <div class="follow">
                <div class="follow__title">follow us</div>
                <div class="follow__link">hello@fapsterapp.com</div>
            </div>
            <form action="">
                <div class="title">keep in touch</div>
                <div class="form">
                    <input type="text" placeholder="Your name">
                    <input type="email" placeholder="E-mail">
                    <textarea name="" id="" cols="30" rows="2" placeholder="Leave your message|" ></textarea>
                    <button>SEND</button>
                </div>
            </form>
        </section>
    </footer>
</body>
</html>