* {
    box-sizing: border-box;
}

div {
    margin: 0 auto;
    text-align: center;
}

img {
    filter: grayscale(1);
    transform: scale(0.4);
}

img:hover {
    animation: heart 1s ease 0s 1 normal both;
}

@keyframes heart {
    0% {

    }

    100% {
        filter: grayscale(0);
        transform: scale(1);
    }
}

