* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 1600px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

thead tr td, tbody tr td:first-child {
    padding: 0.5rem 1.5rem;
    background-color: rgb(173,216,230);
    font-weight: 700;
}

tbody tr td:first-child {
    position: sticky;
    left: 0;
    width: 120px;
    padding: 0.5rem 2rem;
}

tbody tr:nth-child(odd) {
    background-color: rgb(245,245,245);
}

tbody tr:nth-child(even) {
    background-color: rgb(233,233,233);
}