body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    min-width: 440px;
    max-width: max-content;
    margin: 0 auto;
    padding: 0.2rem;
    background-color: rgb(237,158,174);
}

ol {
    color: white;
    font-size: 20px;
    list-style-position: inside;
    margin: 1rem;
    padding: 0;
}

li {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: rgb(198,99,118); 
}

span {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(158,53,74);
}
