.divider {
    display: flex;
    position: relative;
}

.divider-left-odd {
    border-bottom: 100vh solid white;
    border-left: 8rem solid transparent;
}

.divider-left-even {
    border-top: 100vh solid white;
    border-left: 8rem solid transparent;
}

.divider-text {
    position: absolute;
    top: 45%;
    white-space: nowrap;
}

.divider-right-odd {
    border-top: 100vh solid white;
    border-right: 8rem solid transparent;
}

.divider-right-even {
    border-bottom: 100vh solid white;
    border-right: 8rem solid transparent;
}
