* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

figure {
    display: inline-block;
    margin: 1rem 0.3rem;
    padding: 1.4rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

img {
    margin-top: 0.5rem;
}

figcaption {
    text-align: center;
    font-weight: 900;
    margin-top: 1rem;
}

hr {
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.end {
    font-weight: 900;
    text-align: center;
}